.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 64px);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 156px;
}


.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


.title {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: #FF6800;
}

.title a {
  color: #ffffff;
  text-decoration: none;
}

.title a:hover {
  color: #ffffff;
  text-decoration: none;
}

.title a:active {
  color: #ffffff;
  text-decoration: none;
}

.title h2 {
  margin: 0;
  padding: 0;
  color: #FF6800;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 350px;
  font-size: 1.5em;

}


.mapboxgl-ctrl-geocoder--suggestion {
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.mapboxgl-ctrl-geocoder--button {
  color: #ffffff;

  display: none;
}


@media (max-width: 768px) {
  .map-container {
    padding-top: 56px;
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 250px;
    font-size: 1em;
  }

  .title {
    font-size: 1em;
  }

  .title h1 {
    font-size: 1em;
  }

  .title h2 {
    font-size: 1em;
  }

  .sidebarStyle {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--input {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion em {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion .mapboxgl-ctrl-geocoder--suggestion-title {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion .mapboxgl-ctrl-geocoder--suggestion-address {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion .mapboxgl-ctrl-geocoder--icon-marker {
    font-size: 1em;
  }

  .mapboxgl-ctrl-geocoder--suggestion .mapboxgl-ctrl-geocoder--suggestion-list {
    font-size: 1em;
  }


}