/* Default styles for larger screens */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 64px);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 156px;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sidebarStyle select {
  width: 100%;
  font-size: 1em;
  margin-bottom: 8px;
}

.sidebarStyle input[type='checkbox'] {
  margin-right: 3px;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: #FF6800;
}

.title a {
  color: #ffffff;
  text-decoration: none;
}

.title a:hover {
  color: #ffffff;
  text-decoration: none;
}

.title a:active {
  color: #ffffff;
  text-decoration: none;
}

.title h2 {
  margin: 0;
  padding: 0;
  color: #FF6800;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 350px;
  font-size: 1.5em;
}

.mapboxgl-ctrl-geocoder--suggestion {
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.mapboxgl-ctrl-geocoder--button {
  color: #ffffff;
  display: none;
}

/* Mobile-responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    /* Add some padding to the container for smaller screens */
  }

  .map-container {
    padding-top: 100px;
    /* Adjust the top padding for the map container */
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 100%;
    /* Make the input full-width on smaller screens */
  }

  .mapboxgl-ctrl-geocoder--button {
    display: block;
    /* Display the button on smaller screens */
  }

  .title {
    display: none;
  }

  .title h1 {
    display: none;
  }

  .title h2 {
    display: none;
  }
}